## CLASS 5

use of dir

In [1]:
a = "I love Pakistan"

In [5]:
b = ""

In [3]:
a=a.lower()

'i love pakistan'

In [10]:
b = a.replace('Pakistan', 'my school')

In [11]:
b

'I love my school'

In [12]:
b.split()

['I', 'love', 'my', 'school']

In [18]:
c = 'My class is, in this room'

In [19]:
c.split('is')

['My class ', ', in th\\', ' room']

In [21]:
d = '    xyz   '
d.strip()

'xyz'

In [22]:
dir(d)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

STRING METHODS

upper, lower, replace, split, strip, str, concat, +

In [4]:
print(type(a))

<class 'str'>

In [28]:
#help(str)

In [33]:
a[0:10]

'I love Pak'

LIST Instnastiation

[], list(), remove, insert, append, extend, index, count, reverse, +,

In [153]:
a=[1,2,3,4]
b=[0,5,6,7]

In [159]:
a.extend([1,2,3],/)

SyntaxError: invalid syntax (2073147552.py, line 1)

In [155]:
c

In [48]:
#a.append(b)

In [50]:
[1,2,3,4,[0,5,6,7]]

[1, 2, 3, 4, [0, 5, 6, 7]]

Type Casting

In [65]:
a='1234'
b=list(a)
c=['1','2','3','5']

In [57]:
d = set(c)
d

{1, 2, 3, 5}

In [59]:
e = (1,2,3)
f = list(e)

In [61]:
g = tuple(f)

In [62]:
g

(1, 2, 3)

In [66]:
''.join(c)

'1235'

CONTROL FLOW / CONDITIONAL STATEMENT

In [78]:
x = int(input('please enter some digit'))

if (x > 90):
    print('Grade A')
elif x>80 and x <= 90:
    print('Grade A-')
elif x>70 and x <= 80:
    print('Grade B')
else:
    print('D')

please enter some digit 95

Grade A

In [79]:
x > 90

True

LOOPS / ITERATOIN BLOCKS

for, while

In [86]:
#list(range(1000))

In [87]:
for i in range(1,5):
    print('I am fine')

I am fine
I am fine
I am fine
I am fine

In [89]:
c

['1', '2', '3', '5']

In [97]:
sum = 0
for e in c:
    sum = sum + int(e)
    print(e)
print('loop finished')
#print(f'sum={0}'.format(sum))
print(f'SUM={sum}')

1
2
3
5
loop finished
SUM=11

In [98]:
a= [1,2,3,4.]

list

In [107]:
c = [1.3, 2012.22223, 3.9999, 5.0022]
sum = 0
for e in c:
    sum = sum + e
    print(e)
print('loop finished')
#print(f'sum={0}'.format(sum))
print(f'SUM={sum:3.2f}')   # decimal point contol

1.3
2012.22223
3.9999
5.0022
loop finished
SUM=2022.52

In [142]:
capitals = {'UK':'London', 'Pakistan':'Islamabad', 'UAE':'Abudhabi', 'KSA':'Riyad'}

In [143]:
capitals.keys()

dict_keys(['UK', 'Pakistan', 'UAE', 'KSA'])

In [144]:
capitals.values()

dict_values(['London', 'Islamabad', 'Abudhabi', 'Riyad'])

In [145]:
for k,v in capitals.items():
    print(k,v)

UK London
Pakistan Islamabad
UAE Abudhabi
KSA Riyad

dict_keys(['UK', 'Pakistan', 'UAE', 'KSA'])

In [146]:
for i in capitals.keys():
    v = capitals[i]     # redundant .. could have avoided 
    print(i,v)

UK London
Pakistan Islamabad
UAE Abudhabi
KSA Riyad

In [147]:
d1 = dict()   # ={}
for k,v in capitals.items():
    d1[v] = k

print(d1)

{'London': 'UK', 'Islamabad': 'Pakistan', 'Abudhabi': 'UAE', 'Riyad': 'KSA'}

In [148]:
h = {'Farhan':'6.0', 'Muneeb':'6.1', 'Aqsa':'5.9', 'Dr.':'5.99'}

In [149]:
#print(h.keys())
h.values(), h.keys()

(dict_values(['6.0', '6.1', '5.9', '5.99']),
 dict_keys(['Farhan', 'Muneeb', 'Aqsa', 'Dr.']))

In [150]:
h['Dr.']

'5.99'

In [151]:
h_new = {}
for k,v in h.items():
    #if k=='Dr.' or v=='6.1':
    h_new[v] = k

print(h_new)

{'6.0': 'Farhan', '6.1': 'Muneeb', '5.9': 'Aqsa', '5.99': 'Dr.'}

FUNCTIONS

Parameters and Arguments

Package Managers and Importing Packages

Modulus Operator, exponent operator

Operator Precedence