## CLASS 5

use of dir

In [1]:
a = "I love Pakistan"

In [5]:
b = ""

In [3]:
a=a.lower()

'i love pakistan'

In [10]:
b = a.replace('Pakistan', 'my school')

In [11]:
b

'I love my school'

In [12]:
b.split()

['I', 'love', 'my', 'school']

In [18]:
c = 'My class is, in this room'

In [19]:
c.split('is')

['My class ', ', in th\\', ' room']

In [21]:
d = '    xyz   '
d.strip()

'xyz'

In [22]:
dir(d)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

STRING METHODS

upper, lower, replace, split, strip, str, concat, +

In [4]:
print(type(a))

<class 'str'>

In [28]:
#help(str)

In [33]:
a[0:10]

'I love Pak'

LIST Instnastiation

[], list(), remove, insert, append, extend, index, count, reverse, +,

In [153]:
a=[1,2,3,4]
b=[0,5,6,7]

In [159]:
a.extend([1,2,3],/)

SyntaxError: invalid syntax (2073147552.py, line 1)

In [155]:
c

In [48]:
#a.append(b)

In [50]:
[1,2,3,4,[0,5,6,7]]

[1, 2, 3, 4, [0, 5, 6, 7]]

Type Casting

In [65]:
a='1234'
b=list(a)
c=['1','2','3','5']

In [57]:
d = set(c)
d

{1, 2, 3, 5}

In [59]:
e = (1,2,3)
f = list(e)

In [61]:
g = tuple(f)

In [62]:
g

(1, 2, 3)

In [66]:
''.join(c)

'1235'

CONTROL FLOW / CONDITIONAL STATEMENT

In [78]:
x = int(input('please enter some digit'))

if (x > 90):
    print('Grade A')
elif x>80 and x <= 90:
    print('Grade A-')
elif x>70 and x <= 80:
    print('Grade B')
else:
    print('D')

please enter some digit 95

Grade A

In [79]:
x > 90

True

LOOPS / ITERATOIN BLOCKS

for, while

In [86]:
#list(range(1000))

In [87]:
for i in range(1,5):
    print('I am fine')

I am fine
I am fine
I am fine
I am fine

In [89]:
c

['1', '2', '3', '5']

In [97]:
sum = 0
for e in c:
    sum = sum + int(e)
    print(e)
print('loop finished')
#print(f'sum={0}'.format(sum))
print(f'SUM={sum}')

1
2
3
5
loop finished
SUM=11

In [98]:
a= [1,2,3,4.]

list

In [107]:
c = [1.3, 2012.22223, 3.9999, 5.0022]
sum = 0
for e in c:
    sum = sum + e
    print(e)
print('loop finished')
#print(f'sum={0}'.format(sum))
print(f'SUM={sum:3.2f}')   # decimal point contol

1.3
2012.22223
3.9999
5.0022
loop finished
SUM=2022.52

In [142]:
capitals = {'UK':'London', 'Pakistan':'Islamabad', 'UAE':'Abudhabi', 'KSA':'Riyad'}

In [143]:
capitals.keys()

dict_keys(['UK', 'Pakistan', 'UAE', 'KSA'])

In [144]:
capitals.values()

dict_values(['London', 'Islamabad', 'Abudhabi', 'Riyad'])

In [145]:
for k,v in capitals.items():
    print(k,v)

UK London
Pakistan Islamabad
UAE Abudhabi
KSA Riyad

dict_keys(['UK', 'Pakistan', 'UAE', 'KSA'])

In [146]:
for i in capitals.keys():
    v = capitals[i]     # redundant .. could have avoided 
    print(i,v)

UK London
Pakistan Islamabad
UAE Abudhabi
KSA Riyad

In [147]:
d1 = dict()   # ={}
for k,v in capitals.items():
    d1[v] = k

print(d1)

{'London': 'UK', 'Islamabad': 'Pakistan', 'Abudhabi': 'UAE', 'Riyad': 'KSA'}

In [148]:
h = {'Farhan':'6.0', 'Muneeb':'6.1', 'Aqsa':'5.9', 'Dr.':'5.99'}

In [149]:
#print(h.keys())
h.values(), h.keys()

(dict_values(['6.0', '6.1', '5.9', '5.99']),
 dict_keys(['Farhan', 'Muneeb', 'Aqsa', 'Dr.']))

In [150]:
h['Dr.']

'5.99'

In [151]:
h_new = {}
for k,v in h.items():
    #if k=='Dr.' or v=='6.1':
    h_new[v] = k

print(h_new)

{'6.0': 'Farhan', '6.1': 'Muneeb', '5.9': 'Aqsa', '5.99': 'Dr.'}

In [1]:
A = [1,2,3,4]
B = [5,6,7,8]

In [2]:
A.extend(B)

In [3]:
A

[1, 2, 3, 4, 5, 6, 7, 8]

In [6]:
C=[11,12,13]
x = 14
A.append(x)

In [7]:
A

[1, 2, 3, 4, 5, 6, 7, 8, [11, 12, 13], 14]

In [8]:
A.remove([11, 12, 13])

In [9]:
A

[1, 2, 3, 4, 5, 6, 7, 8, 14]

In [11]:
sorted(A, reverse=True)

[14, 8, 7, 6, 5, 4, 3, 2, 1]

# cryptography

In [68]:
text = 'This is PGD class Number 6, dated: 21.01.2024 and there is a sunshine outside'

In [69]:
text_list = list(text)

In [70]:
print(text_list)

['T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'P', 'G', 'D', ' ', 'c', 'l', 'a', 's', 's', ' ', 'N', 'u', 'm', 'b', 'e', 'r', ' ', '6', ',', ' ', 'd', 'a', 't', 'e', 'd', ':', ' ', '2', '1', '.', '0', '1', '.', '2', '0', '2', '4', ' ', 'a', 'n', 'd', ' ', 't', 'h', 'e', 'r', 'e', ' ', 'i', 's', ' ', 'a', ' ', 's', 'u', 'n', 's', 'h', 'i', 'n', 'e', ' ', 'o', 'u', 't', 's', 'i', 'd', 'e']

In [71]:
unique_letters = set(text_list)
max_chars = len(unique_letters)
codes = list(range(1,max_chars+1))

In [72]:
print(unique_letters)
print(codes)

{'D', '0', 'e', ',', 't', 'c', 'P', 'a', 'l', '2', ':', 'T', 'n', 'b', 's', 'm', 'N', 'h', '4', 'G', 'o', '1', 'r', 'u', 'i', '6', ' ', '.', 'd'}
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [73]:
encode = dict(zip(unique_letters, codes))

In [74]:
print(encode)

{'D': 1, '0': 2, 'e': 3, ',': 4, 't': 5, 'c': 6, 'P': 7, 'a': 8, 'l': 9, '2': 10, ':': 11, 'T': 12, 'n': 13, 'b': 14, 's': 15, 'm': 16, 'N': 17, 'h': 18, '4': 19, 'G': 20, 'o': 21, '1': 22, 'r': 23, 'u': 24, 'i': 25, '6': 26, ' ': 27, '.': 28, 'd': 29}

In [75]:
encoded_output = []
for char in text:
    #print(char)
    code = encode[char]
    #print(char, code)
    #codeC = chr(code)
    encoded_output.append(code)

print(encoded_output)

[12, 18, 25, 15, 27, 25, 15, 27, 7, 20, 1, 27, 6, 9, 8, 15, 15, 27, 17, 24, 16, 14, 3, 23, 27, 26, 4, 27, 29, 8, 5, 3, 29, 11, 27, 10, 22, 28, 2, 22, 28, 10, 2, 10, 19, 27, 8, 13, 29, 27, 5, 18, 3, 23, 3, 27, 25, 15, 27, 8, 27, 15, 24, 13, 15, 18, 25, 13, 3, 27, 21, 24, 5, 15, 25, 29, 3]

In [76]:
print(encode)

{'D': 1, '0': 2, 'e': 3, ',': 4, 't': 5, 'c': 6, 'P': 7, 'a': 8, 'l': 9, '2': 10, ':': 11, 'T': 12, 'n': 13, 'b': 14, 's': 15, 'm': 16, 'N': 17, 'h': 18, '4': 19, 'G': 20, 'o': 21, '1': 22, 'r': 23, 'u': 24, 'i': 25, '6': 26, ' ': 27, '.': 28, 'd': 29}

In [77]:
decode = {}
for k,v in encode.items():
    decode[v] = k

print(decode)

{1: 'D', 2: '0', 3: 'e', 4: ',', 5: 't', 6: 'c', 7: 'P', 8: 'a', 9: 'l', 10: '2', 11: ':', 12: 'T', 13: 'n', 14: 'b', 15: 's', 16: 'm', 17: 'N', 18: 'h', 19: '4', 20: 'G', 21: 'o', 22: '1', 23: 'r', 24: 'u', 25: 'i', 26: '6', 27: ' ', 28: '.', 29: 'd'}

In [78]:
decoded_output = []
for i in encoded_output:
    #print(i)
    c = decode[i]
    #print(c)
    decoded_output.append(c)

print(decoded_output)

['T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'P', 'G', 'D', ' ', 'c', 'l', 'a', 's', 's', ' ', 'N', 'u', 'm', 'b', 'e', 'r', ' ', '6', ',', ' ', 'd', 'a', 't', 'e', 'd', ':', ' ', '2', '1', '.', '0', '1', '.', '2', '0', '2', '4', ' ', 'a', 'n', 'd', ' ', 't', 'h', 'e', 'r', 'e', ' ', 'i', 's', ' ', 'a', ' ', 's', 'u', 'n', 's', 'h', 'i', 'n', 'e', ' ', 'o', 'u', 't', 's', 'i', 'd', 'e']

In [83]:
decoded_text = ''.join(decoded_output)
print(decoded_text)

This is PGD class Number 6, dated: 21.01.2024 and there is a sunshine outside

In [84]:
assert (text==decoded_text)

# FUNCTIONS

In [96]:
def add(A:int, B:int): #A, B are parameters
    '''
    This function adds 2 variables and returns summation of two.
    
    '''
    c=A+B
    #print(c)
    return c

In [92]:
x = add(1,2)
y = add(3,7)
z = add(x,y)

In [111]:
x,y,z

(3, 10, 13)

In [94]:
add('ZZ', 'YY')

'ZZYY'

Parameters and Arguments

In [106]:
def add1(d1, d2, d4, d3=5): #A, B are parameters
    '''
    This function adds 2 variables and returns summation of two.
    
    '''    
    x=d1+d2+d3+d4
    #print(c)
    return x

In [109]:
add1(10,3,7,40)

60

## creating cypher and decypher functions

In [138]:
def cypher(text):
    '''
    This function encodes a text into a list of numbers
    '''
    
    text_list = list(text)
    unique_letters = set(text_list)
    max_chars = len(unique_letters)
    print(max_chars)
    codes = list(range(1,max_chars+1))
    encode = dict(zip(unique_letters, codes))
    
    encoded_output = []
    print(text, len(text))
    for char in text:
        code = encode[char]
        encoded_output.append(code)

    # returns a list of encoded values
    return encoded_output, encode

In [140]:
c1, codes = cypher('i am 8 years old, I eat bread with cheese')
print(c1)
print(codes)

19
i am 8 years old, I eat bread with cheese 41
[17, 18, 7, 12, 18, 2, 18, 14, 3, 7, 16, 11, 18, 15, 8, 19, 4, 18, 1, 18, 3, 7, 5, 18, 10, 16, 3, 7, 19, 18, 9, 17, 5, 13, 18, 6, 13, 3, 3, 11, 3]
{'I': 1, '8': 2, 'e': 3, ',': 4, 't': 5, 'c': 6, 'a': 7, 'l': 8, 'w': 9, 'b': 10, 's': 11, 'm': 12, 'h': 13, 'y': 14, 'o': 15, 'r': 16, 'i': 17, ' ': 18, 'd': 19}

In [141]:
def decypher(cypher_list, encode):
    '''
    This function returns text from decypher list
    '''
    decode = {}
    for k,v in encode.items():
        decode[v] = k
        
    decoded_output = []
    for i in encoded_output:
        #print(i)
        c = decode[i]
        #print(c)
        decoded_output.append(c)
        
    # decoded text
    decoded_text = ''.join(decoded_output)
    
    return decoded_text

In [142]:
t1 = decypher(c1, codes)

KeyError: 25

In [123]:
t1

'This is PGD class Number 6, dated: 21.01.2024 and there is a sunshine outside'

Package Managers and Importing Packages

Modulus Operator, exponent operator

Operator Precedence