## CLASS 5

use of dir

In [217]:
a = "I love Pakistan"

In [218]:
b = ""

In [219]:
a=a.lower()

In [220]:
b = a.replace('Pakistan', 'my school')

In [221]:
b

'i love pakistan'

In [222]:
b.split()

['i', 'love', 'pakistan']

In [223]:
c = 'My class is, in this room'

In [224]:
c.split('is')

['My class ', ', in th', ' room']

In [225]:
d = '    xyz   '
d.strip()

'xyz'

In [226]:
dir(d)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

STRING METHODS

upper, lower, replace, split, strip, str, concat, +

In [227]:
print(type(a))

<class 'str'>

In [228]:
#help(str)

In [229]:
a[0:10]

'i love pak'

LIST Instnastiation

[], list(), remove, insert, append, extend, index, count, reverse, +,

In [230]:
a=[1,2,3,4]
b=[0,5,6,7]

In [231]:
a.extend([1,2,3])

In [232]:
c

'My class is, in this room'

In [233]:
#a.append(b)

In [234]:
[1,2,3,4,[0,5,6,7]]

[1, 2, 3, 4, [0, 5, 6, 7]]

Type Casting

In [235]:
a='1234'
b=list(a)
c=['1','2','3','5']

In [236]:
d = set(c)
d

{'1', '2', '3', '5'}

In [237]:
e = (1,2,3)
f = list(e)

In [238]:
g = tuple(f)

In [239]:
g

(1, 2, 3)

In [240]:
''.join(c)

'1235'

CONTROL FLOW / CONDITIONAL STATEMENT

In [241]:
x = int(input('please enter some digit'))

if (x > 90):
    print('Grade A')
elif x>80 and x <= 90:
    print('Grade A-')
elif x>70 and x <= 80:
    print('Grade B')
else:
    print('D')

D

In [242]:
x > 90

False

LOOPS / ITERATOIN BLOCKS

for, while

In [243]:
#list(range(1000))

In [244]:
for i in range(1,5):
    print('I am fine')

I am fine
I am fine
I am fine
I am fine

In [245]:
c

['1', '2', '3', '5']

In [246]:
sum = 0
for e in c:
    sum = sum + int(e)
    print(e)
print('loop finished')
#print(f'sum={0}'.format(sum))
print(f'SUM={sum}')

1
2
3
5
loop finished
SUM=11

In [247]:
a= [1,2,3,4.]

In [248]:
c = [1.3, 2012.22223, 3.9999, 5.0022]
sum = 0
for e in c:
    sum = sum + e
    print(e)
print('loop finished')
#print(f'sum={0}'.format(sum))
print(f'SUM={sum:3.2f}')   # decimal point contol

1.3
2012.22223
3.9999
5.0022
loop finished
SUM=2022.52

In [249]:
capitals = {'UK':'London', 'Pakistan':'Islamabad', 'UAE':'Abudhabi', 'KSA':'Riyad'}

In [250]:
capitals.keys()

dict_keys(['UK', 'Pakistan', 'UAE', 'KSA'])

In [251]:
capitals.values()

dict_values(['London', 'Islamabad', 'Abudhabi', 'Riyad'])

In [252]:
for k,v in capitals.items():
    print(k,v)

UK London
Pakistan Islamabad
UAE Abudhabi
KSA Riyad

dict_keys(['UK', 'Pakistan', 'UAE', 'KSA'])

In [253]:
for i in capitals.keys():
    v = capitals[i]     # redundant .. could have avoided 
    print(i,v)

UK London
Pakistan Islamabad
UAE Abudhabi
KSA Riyad

In [254]:
d1 = dict()   # ={}
for k,v in capitals.items():
    d1[v] = k

print(d1)

{'London': 'UK', 'Islamabad': 'Pakistan', 'Abudhabi': 'UAE', 'Riyad': 'KSA'}

In [255]:
h = {'Farhan':'6.0', 'Muneeb':'6.1', 'Aqsa':'5.9', 'Dr.':'5.99'}

In [256]:
#print(h.keys())
h.values(), h.keys()

(dict_values(['6.0', '6.1', '5.9', '5.99']),
 dict_keys(['Farhan', 'Muneeb', 'Aqsa', 'Dr.']))

In [257]:
h['Dr.']

'5.99'

In [258]:
h_new = {}
for k,v in h.items():
    #if k=='Dr.' or v=='6.1':
    h_new[v] = k

print(h_new)

{'6.0': 'Farhan', '6.1': 'Muneeb', '5.9': 'Aqsa', '5.99': 'Dr.'}

In [259]:
A = [1,2,3,4]
B = [5,6,7,8]

In [260]:
A.extend(B)

In [261]:
A

[1, 2, 3, 4, 5, 6, 7, 8]

In [262]:
C=[11,12,13]
x = 14
A.append(C)
A.append(x)

In [263]:
A

[1, 2, 3, 4, 5, 6, 7, 8, [11, 12, 13], 14]

In [264]:
A.remove([11, 12, 13])

In [265]:
A

[1, 2, 3, 4, 5, 6, 7, 8, 14]

In [266]:
sorted(A, reverse=True)

[14, 8, 7, 6, 5, 4, 3, 2, 1]

# cryptography

In [267]:
text = 'This is PGD class Number 6, dated: 21.01.2024 and there is a sunshine outside'

In [268]:
text_list = list(text)

In [269]:
print(text_list)

['T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'P', 'G', 'D', ' ', 'c', 'l', 'a', 's', 's', ' ', 'N', 'u', 'm', 'b', 'e', 'r', ' ', '6', ',', ' ', 'd', 'a', 't', 'e', 'd', ':', ' ', '2', '1', '.', '0', '1', '.', '2', '0', '2', '4', ' ', 'a', 'n', 'd', ' ', 't', 'h', 'e', 'r', 'e', ' ', 'i', 's', ' ', 'a', ' ', 's', 'u', 'n', 's', 'h', 'i', 'n', 'e', ' ', 'o', 'u', 't', 's', 'i', 'd', 'e']

In [270]:
unique_letters = set(text_list)
max_chars = len(unique_letters)
codes = list(range(1,max_chars+1))

In [271]:
print(unique_letters)
print(codes)

{'m', 'n', 'c', ' ', ',', '6', 'u', 't', 'e', 'l', 'a', 'b', 'T', 'h', 'G', 's', 'D', 'N', 'P', '4', '.', 'i', 'r', '2', '0', 'd', '1', ':', 'o'}
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [272]:
encode = dict(zip(unique_letters, codes))

In [273]:
print(encode)

{'m': 1, 'n': 2, 'c': 3, ' ': 4, ',': 5, '6': 6, 'u': 7, 't': 8, 'e': 9, 'l': 10, 'a': 11, 'b': 12, 'T': 13, 'h': 14, 'G': 15, 's': 16, 'D': 17, 'N': 18, 'P': 19, '4': 20, '.': 21, 'i': 22, 'r': 23, '2': 24, '0': 25, 'd': 26, '1': 27, ':': 28, 'o': 29}

In [274]:
encoded_output = []
for char in text:
    #print(char)
    code = encode[char]
    print(char, code)
    #codeC = chr(code)
    encoded_output.append(code)

print(encoded_output)

T 13
h 14
i 22
s 16
  4
i 22
s 16
  4
P 19
G 15
D 17
  4
c 3
l 10
a 11
s 16
s 16
  4
N 18
u 7
m 1
b 12
e 9
r 23
  4
6 6
, 5
  4
d 26
a 11
t 8
e 9
d 26
: 28
  4
2 24
1 27
. 21
0 25
1 27
. 21
2 24
0 25
2 24
4 20
  4
a 11
n 2
d 26
  4
t 8
h 14
e 9
r 23
e 9
  4
i 22
s 16
  4
a 11
  4
s 16
u 7
n 2
s 16
h 14
i 22
n 2
e 9
  4
o 29
u 7
t 8
s 16
i 22
d 26
e 9
[13, 14, 22, 16, 4, 22, 16, 4, 19, 15, 17, 4, 3, 10, 11, 16, 16, 4, 18, 7, 1, 12, 9, 23, 4, 6, 5, 4, 26, 11, 8, 9, 26, 28, 4, 24, 27, 21, 25, 27, 21, 24, 25, 24, 20, 4, 11, 2, 26, 4, 8, 14, 9, 23, 9, 4, 22, 16, 4, 11, 4, 16, 7, 2, 16, 14, 22, 2, 9, 4, 29, 7, 8, 16, 22, 26, 9]

In [275]:
#decoded_char = bytes.fromhex(hex_code).decode("utf-8")  # Decode hex to character

In [277]:
def create_text_from_ascii_codes(ascii_codes):
  """Converts a list of ASCII codes back to their corresponding characters."""

  chars = [chr(code) for code in ascii_codes]  # Convert ASCII codes to characters
  print(chars)
  text = "".join(chars)  # Join the characters to form a string

  return text

# Example usage
ascii_codes = [73, 32, 108, 111, 118, 101, 32, 80, 97, 107, 105, 115, 116, 97, 110]
text = create_text_from_ascii_codes(ascii_codes)
print(text)  # Output: I love Pakistan

['I', ' ', 'l', 'o', 'v', 'e', ' ', 'P', 'a', 'k', 'i', 's', 't', 'a', 'n']
I love Pakistan

In [278]:
print(encode)

{'m': 1, 'n': 2, 'c': 3, ' ': 4, ',': 5, '6': 6, 'u': 7, 't': 8, 'e': 9, 'l': 10, 'a': 11, 'b': 12, 'T': 13, 'h': 14, 'G': 15, 's': 16, 'D': 17, 'N': 18, 'P': 19, '4': 20, '.': 21, 'i': 22, 'r': 23, '2': 24, '0': 25, 'd': 26, '1': 27, ':': 28, 'o': 29}

In [279]:
decode = {}
for k,v in encode.items():
    decode[v] = k

print(decode)

{1: 'm', 2: 'n', 3: 'c', 4: ' ', 5: ',', 6: '6', 7: 'u', 8: 't', 9: 'e', 10: 'l', 11: 'a', 12: 'b', 13: 'T', 14: 'h', 15: 'G', 16: 's', 17: 'D', 18: 'N', 19: 'P', 20: '4', 21: '.', 22: 'i', 23: 'r', 24: '2', 25: '0', 26: 'd', 27: '1', 28: ':', 29: 'o'}

In [280]:
decoded_output = []
for i in encoded_output:
    #print(i)
    c = decode[i]
    #print(c)
    decoded_output.append(c)

print(decoded_output)

['T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'P', 'G', 'D', ' ', 'c', 'l', 'a', 's', 's', ' ', 'N', 'u', 'm', 'b', 'e', 'r', ' ', '6', ',', ' ', 'd', 'a', 't', 'e', 'd', ':', ' ', '2', '1', '.', '0', '1', '.', '2', '0', '2', '4', ' ', 'a', 'n', 'd', ' ', 't', 'h', 'e', 'r', 'e', ' ', 'i', 's', ' ', 'a', ' ', 's', 'u', 'n', 's', 'h', 'i', 'n', 'e', ' ', 'o', 'u', 't', 's', 'i', 'd', 'e']

In [281]:
decoded_text = ''.join(decoded_output)
print(decoded_text)

This is PGD class Number 6, dated: 21.01.2024 and there is a sunshine outside

In [282]:
assert (text==decoded_text)

AssertionError:

# FUNCTIONS

In [ ]:
def add(A:int, B:int): #A, B are parameters
    '''
    This function adds 2 variables and returns summation of two.
    
    '''
    c=A+B
    #print(c)
    return c

In [ ]:
x = add(1,2)
y = add(3,7)
z = add(x,y)

In [ ]:
x,y,z

(3, 10, 13)

In [ ]:
add('ZZ', 'YY')

'ZZYY'

Parameters and Arguments

In [ ]:
def add1(d1, d2, d4, d3=5): #A, B are parameters
    '''
    This function adds 2 variables and returns summation of two.
    
    '''    
    x=d1+d2+d3+d4
    #print(c)
    return x

In [ ]:
add1(10,3,7,40)

60

## creating cypher and decypher functions

In [ ]:
def cypher(text):
    '''
    This function encodes a text into a list of numbers
    '''
    
    text_list = list(text)
    unique_letters = set(text_list)
    max_chars = len(unique_letters)
    print(max_chars)
    codes = list(range(1,max_chars+1))
    encode = dict(zip(unique_letters, codes))
    
    encoded_output = []
    print(text, len(text))
    for char in text:
        code = encode[char]
        encoded_output.append(code)

    # returns a list of encoded values
    return encoded_output, encode

In [ ]:
c1, codes = cypher('i am 8 years old, I eat bread with cheese')
print(c1)
print(codes)

19
i am 8 years old, I eat bread with cheese 41
[15, 4, 10, 1, 4, 18, 4, 3, 8, 10, 16, 14, 4, 19, 9, 17, 5, 4, 12, 4, 8, 10, 6, 4, 11, 16, 8, 10, 17, 4, 7, 15, 6, 13, 4, 2, 13, 8, 8, 14, 8]
{'m': 1, 'c': 2, 'y': 3, ' ': 4, ',': 5, 't': 6, 'w': 7, 'e': 8, 'l': 9, 'a': 10, 'b': 11, 'I': 12, 'h': 13, 's': 14, 'i': 15, 'r': 16, 'd': 17, '8': 18, 'o': 19}

In [ ]:
def decypher(cypher_list, encode):
    '''
    This function returns text from decypher list
    '''
    decode = {}
    for k,v in encode.items():
        decode[v] = k
        
    decoded_output = []
    for i in encoded_output:
        #print(i)
        c = decode[i]
        #print(c)
        decoded_output.append(c)
        
    # decoded text
    decoded_text = ''.join(decoded_output)
    
    return decoded_text

In [ ]:
t1 = decypher(c1, codes)

KeyError: 22

In [ ]:
t1

'This is PGD class Number 6, dated: 21.01.2024 and there is a sunshine outside'

Package Managers and Importing Packages

Modulus Operator, exponent operator

Operator Precedence